
<!DOCTYPE html>
<html>
<head>
 <title>Team</title>
</head>
<body>
   <h1> <%= @team_name%> </h1>
   <h2>Team Motto: <%= @motto%> </h2>
   <h2> Hero Name: <%= @hero1_name%> </h2>
       Hero Power: <%= @power1%>
       Hero Biography: <%= @bio1%>
   <h2> Hero Name: <%= @hero2_name%> </h2>
       Hero Power: <%= @power2%>
       Hero Biography: <%= @bio2%>
   <h2> Hero Name: <%= @hero3_name%> </h2>
       Hero Power: <%= @power3%>
       Hero Biography: <%= @bio3%>
</body>
</html>